.typeahead {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background: #202124;
  color: #fff;
  border-radius: 25px;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
}

.typeahead-input-wrap {
  position: relative;
  z-index: 9;
}

.typeahead-input {
  width: 100%;
  border: none;
  height: 50px;
  background: #202124;
  color: #fff;
  border-radius: 25px;
  padding: 0px 50px 0px 50px;
  font-size: 18px;
}

.typeahead-input:focus {
  outline: none;
}

.typeahead-icon {
  position: absolute;
  background: none;
}

.search-icon {
  top: 14px;
  left: 20px;
}

.cancel-icon {
  top: 14px;
  right: 20px;
  z-index: 99;
  border: none;
}

.typeahead-icon span {
  color: #fff;
  font-size: 22px;
}

.cancel-icon span {
  transition: all 0.3s linear;
}

.cancel-icon span:hover {
  cursor: pointer;
  color: #9aa0a6;
}

.typeahead-results-wrap {
  padding-bottom: 14px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  background: #202124;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.typeahead-results {
  max-height: 228px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
}

.typeahead-results a {
  border-radius: 3px;
  padding: 8px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

.typeahead-results a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.typeahead-results a:hover {
  background: #303134;
}

.typeahead-result {
  overflow: hidden;
}

.typeahead-loading {
  padding: 10px 50px;
}

.typeahead-no-result {
  padding: 10px 50px;
}
