.container {
  height: 100vh;
}

.autocomplete-search-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.autocomplete-search-box .search-box {
  width: 300px;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.autocomplete-search-box .search-loading {
  padding: 10px;
}

.autocomplete-search-box .search-no-result {
  padding: 10px;
}

.autocomplete-search-box .search-result {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.autocomplete-search-box a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.autocomplete-search-box a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.autocomplete-search-box a:hover {
  background-color: #f0f0f0;
}
